# ----------------------
# .NET Build Artifacts
# ----------------------
**/bin/
**/obj/
*.user
*.suo
*.vs/

# Ignore secrets or environment configs
appsettings.Development.json
appsettings.Production.json
appsettings.*.local.json
secrets.json

# ----------------------
# Angular Build Artifacts
# ----------------------
node_modules/
dist/
.angular/
.env

# ----------------------
# Logs & Temporary Files
# ----------------------
*.log
*.tsbuildinfo
*.pid
*.seed
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------
# OS/System Files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDEs
# ----------------------
.vscode/
.idea/
*.sw?

# ----------------------
# Test/Reports
# ----------------------
coverage/
test-results/
